<!doctype html>
<html class="no-js" ng-app="prettyBitnzApp">
  <head>
    <meta charset="utf-8"> 
    <title data-ng-bind-html="current_nzd_price_formatted ?  current_nzd_price_formatted + ' | ' + page.title : page.title + ' | Pretty BitNZ'">Pretty BitNZ</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">    
    <link rel="stylesheet" href="styles/styles.css">        
    <!-- endbuild -->
    <script src="scripts/min/scripts.min.js"></script>  
  </head>  
    <body>

    <div id="layout" ng-controller="MasterCtrl" ng-class=" side_bar_toggled ? 'active' : ''">      
      <!-- Menu toggle -->
      <a href="#menu" id="menuLink" class="menu-link" ng-class=" side_bar_toggled ? 'active' : ''" ng-click="show_side_bar()">
          <!-- Hamburger icon -->
          <span></span>
      </a>

      <div id="menu" ng-class=" side_bar_toggled ? 'active' : ''">
          <div class="pure-menu pure-menu-open">
              <a class="pure-menu-heading" href="#">Pretty BitNZ</a>

              <ul>
                  <li ng-show="! authorized"><a href="#">Home</a></li>
                  <li ng-show="authorized"><a href="#">Trade</a></li>
                  <li ng-show="authorized"><a href="#history">History</a></li>
                  <li><a href="#settings">Settings</a></li>
                  <li><a href="#help">Help</a></li>
                  <li><a href="#about">About</a></li>
              </ul>
          </div>
          <div class="balance" style="margin-top: 3.0em;" ng-controller="BalanceCtrl" ng-init="Start()">
            <div ng-show="haveBalance">
              <div>
                <h5>Balance for {{username}}</h5>
                <table>
                  <tr>
                    <td>NZD</td> <td>{{ balance.nzd_balance | number:6 }}</td>
                  </tr>
                  <tr>
                    <td>BTC</td> <td>{{ balance.btc_balance | number:8 }}</td>
                  </tr>
                </table>

                <h5>Available</h5>
                <table>
                  <tr>
                    <td>NZD</td> <td>{{ balance.nzd_available | number:6 }}</td>
                  </tr>
                  <tr>
                    <td>BTC</td> <td>{{ balance.btc_available | number:8 }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
      </div>

      <div id="ticker" ng-controller="TickerCtrl" ng-init="start()" ng-click="reload()">
        <span>Last Price: <strong>{{ ticker.last | currency:'$' }}</strong></span>
        <span>Today's Low: <strong>{{ ticker.low | currency:'$' }}</strong></span>
        <span>Today's High: <strong>{{ ticker.high | currency:'$' }}</strong></span>
        <span>Current Bid: <strong>{{ ticker.bid | currency:'$' }}</strong></span>
        <span>Current Ask: <strong>{{ ticker.ask | currency:'$' }}</strong></span>
        <span>Volume: <strong>{{ ticker.volume | number:8 }}</strong></span>
      </div>

      <div id="main">
        <div class="header">
          <h1>Pretty BitNZ</h1>
          <h2>A nicer interface for our favourite New Zealand exchange</h2>
        </div>
        <div ng-view=""></div>        
      </div>
    </div>

    <!---- VIEWS -->
    <script id="main.html" type="text/ng-template">
      <div class="content" ng-if="ticker.last">
          <!--- Unauthorized stuff -->    
          <div ng-show="! authorized"> 

            <div ng-show="! show_password_field">
              <aside>
                  <p>
                      You are not logged in. <a href="#settings">Click here</a> to add your API Keys from BitNZ
                  </p>
              </aside>
            </div>

            <!--- Unlock encrypted keys form -->
            <div ng-show="show_password_field">
              <form ng-submit="unlock()" class="pure-form">                
                <div class="pure-control-group">
                  <label for="settings-secret">Enter the password for <strong>{{username}}</strong>. </label>
                  <input type="password" ng-model="unlock.keystore_password" placeholder="" />
                  <button type="submit" class="pure-button pure-button-primary">Unlock</button>
                </div>
              </form>
              <hr/>
            </div>
          </div>

          <!-- buy form -->
          <form class="pure-form pure-form-aligned order-form"  ng-show="authorized">
            <ul class="pure-paginator">            
                <li><a class="pure-button" ng-class="active_tab == 'buy' ? 'pure-button-active button-secondary' : ''" ng-click="switch_tab('buy')">New Buy Order</a></li>
                <li><a class="pure-button"  ng-class="active_tab == 'sell' ? 'pure-button-active button-secondary' : ''" ng-click="switch_tab('sell')">New Sell Order</a></li>            
            </ul>
            <fieldset ng-show="active_tab == 'buy'">            
                <div class="pure-control-group">
                    <label for="name">Buy BTC Amount</label>
                    <input required ng-model="new_order.btc_amount" type="text" step="0.0000000001" placeholder="Eg. 0.1">
                    <a class="pure-button button-small" ng-click="use_remaining()">Use Remaining NZD</a>                
                </div>

                <div class="pure-control-group">
                    <label for="name">At NZD Rate</label>
                    <input required ng-model="new_order.btc_rate" type="text" step="0.01" placeholder="Eg. $683.23">
                    <a class="pure-button button-small" ng-click="use_last()">Last Price</a>
                    <a class="pure-button button-small" ng-click="use_ask()">Ask</a>
                    <a class="pure-button button-small" ng-click="use_bid()">Bid</a>
                </div>            
                <div>
                    <div>
                      <strong class='pull-left'>Total: {{ new_order.btc_amount * new_order.btc_rate | currency:'$'}}</strong>
                    </div>
                    <div>
                      <br />
                      <em class='pull-left'>{{ balance.fee}} Trade Commission: {{ calculate_fee(new_order) | number:'8' }}</em>
                    </div>
                    <div>
                      <br />
                      <em class='pull-left'>Total (less fee): {{ (new_order.btc_amount - calculate_fee(new_order)) | number:'8' }}</em>
                    </div>
                    <button type="submit" class="pull-right pure-button pure-button-primary" ng-click="create_order()">Buy BTC</button>
                </div>
            </fieldset>

            <fieldset ng-show="active_tab == 'sell'">            
                <div class="pure-control-group">
                    <label for="name">Sell BTC Amount</label>
                    <input required ng-model="new_order.btc_amount" type="text" step="0.01" placeholder="Eg. 0.1">
                    <a class="pure-button button-small" ng-click="use_remaining()">Use Remaining BTC</a>                
                </div>

                <div class="pure-control-group">
                    <label for="name">At NZD Rate</label>
                    <input required ng-model="new_order.btc_rate" type="text" step="0.1" placeholder="Eg. $683.23">
                    <a class="pure-button button-small" ng-click="use_last()">Last Price</a>
                    <a class="pure-button button-small" ng-click="use_ask()">Ask</a>
                    <a class="pure-button button-small" ng-click="use_bid()">Bid</a>
                </div>            
                <div>
                    <div>
                      <strong class='pull-left'>Total: {{ new_order.btc_amount * new_order.btc_rate | currency:'$'}}</strong>
                    </div>
                    <div>
                      <br />
                      <em class='pull-left'>{{ balance.fee}} Trade Commission: {{ calculate_fee(new_order) | currency:'$' }}</em>
                    </div>
                    <div>
                      <br />
                      <em class='pull-left'>Total (less fee): {{ (new_order.btc_amount * new_order.btc_rate - calculate_fee(new_order)) | currency:'$' }}</em>
                    </div>
                    <button type="submit" class="pull-right pure-button pure-button-primary" ng-click="create_order()">Sell BTC</button>
                </div>
            </fieldset>
            <hr />
          </form>
          
          <ul class="pure-paginator" ng-if="authorized">            
            <li><a class="pure-button" ng-class="active_order_tab == 'order_book' ? 'pure-button-active button-secondary' : ''" ng-click="switch_order_tab('order_book')">Order Book</a></li>
            <li><a class="pure-button"  ng-class="active_order_tab == 'open_orders' ? 'pure-button-active button-secondary' : ''" ng-click="switch_order_tab('open_orders')">Open Orders</a></li>            
          </ul>
          <!-- Order Book -->
          <div class="pure-g" ng-if="active_order_tab == 'order_book'">
            <div class="pure-u-1-2 order-table-containers">
              <div class='order-table-container'>
                <h3>Bids</h3>
                <div class='page_buttons'>
                  <a class="pure-button pull-left" ng-click="prev_page('bids')">Prev</a>
                    {{bids_current_page + 1}}/{{bids_max_page + 1}}
                  <a class="pure-button pull-right" ng-click="next_page('bids')">Next</a>
                </div>
                <table class="pure-table">
                  <thead>
                      <tr>
                          <th>NZD Rate</th>                  
                          <th>BTC Amount</th>
                          <th>Value</th>
                      </tr>
                  </thead>

                  <tbody>
                      <tr ng-repeat="bid in paged_bids">
                          <td>
                            <a ng-class="authorized ? 'pure-button' : ''" ng-click="match_bid(bid)">${{ bid.rate }}
                            </a>
                          </td>
                          <td>{{bid.volume | number:8 }}
                            <a class='order_popup' ng-show="bid.orders.length > 1" data-tooltip data-tooltip-label="Orders" data-tooltip-message="{{bid.order_description}}">({{ bid.orders.length }})</a>
                          </td> 
                          <td>
                            {{ bid.volume * current_nzd_price | currency:'$' }}
                          </div>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="pure-u-1-2">
              <div class='order-table-container'>
                <h3>Ask</h3>
                <div class='page_buttons'>
                  <a class="pure-button pull-left" ng-click="prev_page('asks')">Prev</a>
                  {{asks_current_page + 1}} / {{asks_max_page + 1}}
                  <a class="pure-button pull-right" ng-click="next_page('asks')">Next</a>
                </div>
                <table class="pure-table">
                  <thead>
                      <tr>
                          <th>NZD Rate</th>                  
                          <th>BTC Amount</th>
                          <th>Value</th>
                      </tr>
                  </thead>

                  <tbody>
                      <tr ng-repeat="ask in paged_asks">
                          <td>
                            <a ng-class="authorized ? 'pure-button' : ''" ng-click="match_ask(ask)">${{ ask.rate }}
                            </a>
                          </td>
                          <td>{{ask.volume | number:8 }} 
                            <a class='order_popup' ng-show="ask.orders.length > 1" data-tooltip data-tooltip-label="Orders" data-tooltip-message="{{ask.order_description}}">({{ ask.orders.length }})</a>

                          </td> 
                          <td>
                            {{ ask.volume * current_nzd_price | currency:'$' }}
                          </div>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>      
          </div>

          <!--- Open Orders -->
          <div class="pure-g" ng-if="active_order_tab == 'open_orders'">
            <div class="pure-u-1-2 order-table-containers">
              <div class='order-table-container'>
                <h3>Open Buys</h3>
                <table class="pure-table">
                  <thead>
                      <tr>
                          <th>NZD Rate</th>                  
                          <th>BTC Amount</th>
                          <th>Value</th>
                          <th>Date added</th>
                          <th></th>

                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="bid in open_buy_orders">
                          <td>
                            {{bid.price  | currency:'$'}}                            
                          </td>
                          <td>
                            {{bid.amount | number:8 }}
                          </td>
                          <td>
                            {{ bid.amount * bid.price | currency:'$' }}
                          </td>
                          <td>
                            {{bid.date_formatted }}
                          </td>
                          <td>
                              <a class='pure-button button-xsmall' ng-click="cancel_order(bid, 'buy')">Cancel</a>
                          </td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="pure-u-1-2 order-table-containers">
              <div class='order-table-container'>
                <h3>Open Sells</h3>
                <table class="pure-table">
                  <thead>
                      <tr>
                          <th>NZD Rate</th>                  
                          <th>BTC Amount</th>
                          <th>Value</th>
                          <th>Date added</th>
                          <th></th>

                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="bid in open_sell_orders">
                          <td>
                            {{bid.price  | currency:'$'}}                            
                          </td>
                          <td>
                            {{bid.amount | number:8 }}
                          </td>
                          <td>
                            {{ bid.amount * bid.price | currency:'$' }}
                          </td>
                           <td>
                            {{bid.date_formatted }}
                          </td>
                          <td>
                              <a class='pure-button button-xsmall' ng-click="cancel_order(bid, 'sell')">Cancel</a>
                          </td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        <p>
          <hr/>
        </p>
        <p style='text-align:center'>
          <img ng-src="{{ chart_url }}" style='width:800px;height:500px;margin:0 auto;' />
        </p>
      </div>
    </script>

    <!-------- HISTORY -------->

    <script id="history.html" type="text/ng-template">      
        <div class="content">
          <div class="pure-g">
            <div class="pure-u-1-2 order-table-containers">            
              <div class='order-table-container'>
                <h3>Closed Bids</h3>
                <div class='page_buttons'>
                  <a class="pure-button pull-left" ng-click="prev_page('bids')">Prev</a>
                    {{ bids_current_page + 1}}/{{ bids_max_page + 1}}
                  <a class="pure-button pull-right" ng-click="next_page('bids')">Next</a>
                </div>
                <table class="pure-table">
                  <thead>
                      <tr>
                          <th>Date</th>
                          <th>NZD Rate</th>
                          <th>BTC Bought</th>
                          <th>NZD Spent</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="order in paged_closed_buys">
                          <th>{{ order.date_formatted }}</th>
                          <td>{{ order.price  | currency:'$' }}</td>
                          <td>{{ order.volume | number:8 }}</td> 
                          <td>{{ order.price * order.volume | currency:'$' }}</td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="pure-u-1-2 order-table-containers"> 
              <div class='order-table-container'>
                <h3>Closed Asks</h3>
                <div class='page_buttons'>
                    <a class="pure-button pull-left" ng-click="prev_page('asks')">Prev</a>
                      {{ asks_current_page + 1}}/{{ asks_max_page + 1}}
                    <a class="pure-button pull-right" ng-click="next_page('asks')">Next</a>
                  </div>
                  <table class="pure-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>NZD Rate</th>                  
                            <th>BTC Spent</th>
                            <th>NZD Bought</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="order in paged_closed_sells">
                            <th>{{ order.date_formatted }}</th>
                            <td>{{ order.price  | currency:'$' }}</td>
                            <td>{{ order.volume | number:8 }}</td> 
                            <td>{{ order.price * order.volume | currency:'$' }}</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </script>

    <!-------- Settings -------->
    <script id="settings.html" type="text/ng-template">
      <div class="content">
        <h2 class="content-subhead">Settings</h2>
        <form ng-submit="Authorize()" class="pure-form pure-form-aligned">
          <div class="pure-control-group">
            <label for="settings-username">Username:</label>
            <input type="text" id="settings-username" ng-model="username" placeholder="" />
          </div>
          <div class="pure-control-group">
            <label for="settings-key">API Key:</label>
            <input type="text" id="settings-key" ng-model="key" placeholder="" />
          </div>
          <div class="pure-control-group">
            <label for="settings-secret">Secret:</label>
            <input type="text" id="settings-secret" ng-model="secret" placeholder="" />
          </div>
          <div class="pure-control-group">
            <label for="settings-secret">Password for storing keys in your browser:</label>
            <input type="password" id="settings-secret" ng-model="password" placeholder="" />
          </div>
          <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Authorize</button>
          </div>
          <div ng-show="authError">
            Authorization error: {{ errorMessage }}
          </div>
          <div>
            <span ng-if="authorized" class='coloured-label coloured-label-green'>Authorized</span>
            <span ng-if="! authorized"  class='coloured-label coloured-label-red'>Not authorized</span>            
          </div>
        </form>
      </div>
    </script>
    <script id="help.html" type="text/ng-template">
      <div>
        Help!
      </div>
    </script>
    <script id="about.html" type="text/ng-template">
      <div>
        About this project.
      </div>
    </script>
    <script type="text/ng-template" id="confirm_order">
        <h3>Confirm your {{ ngDialogData.is_buy ? 'buy' : 'sell' }} order</h3>
        <table class='pure-table' style='width:100%'>
          <tr>
            <th>Amount</th>
            <td>{{ ngDialogData.btc_amount | number:8 }}</td>
          </tr>
          <tr>
            <th>Rate</th>
            <td>${{ ngDialogData.btc_rate | number:2 }}</td>
          </tr>          
          <tr>
            <th>Total</th>
            <td>${{ ngDialogData.btc_amount * ngDialogData.btc_rate | number:2 }}</td>
          </tr>          
        </table>
        <div class="ngdialog-buttons">
          <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">
            Confirm {{ ngDialogData.is_buy ? 'Buy' : 'Sell' }}
          </button>
          <button type="button" class="ngdialog-button action-btn" ng-click="closeThisDialog()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="confirm_cancel_order">
        <p>Cancel this order?</p>
        <table class='pure-table'>
          <tr>
            <th>Price</th>
            <td>{{ngDialogData.price | currency:'$'}}</td>
          </tr>
          <tr>
            <th>Amount</th>
            <td>{{ngDialogData.amount}}</td>
          </tr>
        </table>
        <div class="ngdialog-buttons">
          <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">Confirm</button>
          <button type="button" class="ngdialog-button action-btn" ng-click="closeThisDialog()">Cancel</button>
        </div>
    </script>    
    <script id="angular-notify.html" type="text/ng-template">
      <div class="cg-notify-message">
        {{$message}}
      </div>
    </script>

</body>
</html>
